<body>
    <div>
        <p>Hi {{name}},</p>
        <p>Thank you for registering on Nakazadde Application,
            We would like to verify your account,
 
        </p>
    <div>
    <h1>{{otp}}</h1>
    </div>
    <p>Is the otp thje verify your email</p>

        <p>You can also click the button below to very your email</p>
        <a href="{{url}}"><button>Verify my accoun</button></a>
    </div>

    <div>You are receiving this because you created an account with Nakazadde.</div>
</body>